header{
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;
	color: black;
	padding: 20px;
	}


h1{
	font-weight: bold;
	text-align: center;
	}

h2{
	text-align: center;
	font-style: italic;
	}


body {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	margin: 10%;
	padding: 10px;
	color: black;
	}

h3{
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	}

.intro{
	display: flex;
	flex: 1;
	padding: 10px;
	justify-content: space-between;
}

.image{
	padding: 15px;
	justify-content: right;
	min-width: 20%;

}

.intro-text{
	padding: 10px;
}

.quote{
	font-style: italic;
	font-weight: bold;
}

.takeaway2{
	display: flex;
	padding: 10px;
}


.chart{
	float: left;
	padding: 10px;

}

.analysis{
	float: right;
	padding: 2px;
	}

.takeaway4{
	display: flex;
	padding: 10px;
}

.chart-sector{
	float: left;
	padding: 10px;
}

.analysis-sector{
	float: right;
}


a {
	color: blue;
	}

footer{
	font-family: sans-serif;
	text-align: left;
	}

@media only screen and (min-width: 321px){
	
	.grid-area{
		display: flex;
		justify-content: center;
	}
	
	.grid-item{
		flex-wrap: wrap;
		flex-basis: auto;
		margin: 1px;
	}
	
	.grid-example {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}

	.grid-item-example{
		flex-basis: 30%;
		margin: 1px;
	}
}

@media only screen and (min-width: 320px) {

	.intro{
		display: flex;
		padding: 10px;

	}

	.image{
		display: none;
	}

	.takeaway2{
		display: flex;
	}

	.chart{
		flex: 100%;
	}

	.analysis{
		flex: 100%;
	}

	.takeaway4{
		display: flex;
	}

	.chart-sector{
		flex: 100%;
	}

	.analysis-sector{
		flex: 100%;
	}
